html,
body {
	margin: 0;
	padding: 0;
}

.prindiv {
	background-image: url('../../assets/img/home.png');
	background-size: cover;
	width: auto;
	height: 120vh;
	background-repeat: no-repeat;
	background-position-x: center;
	align-content: center;
	justify-content: center;
}

.bar {
	background-color: rgb(38, 37, 37);
	align-items: center;
	justify-content: center;
	height: fit-content;
	width: 100%;
	display: inline-flex;
}

.bothome {
	height: 40px;
}

.bothome:hover {
	height: 45px;
	opacity: 90%;
}

.contenedorform {
	border-radius: 5%;
	margin: 40px;
	background-color: #1c1c1ce2;
	min-height: 400px;
	width: fit-content;
	justify-content: center;
	align-items: center;
	padding: 35px;
	display: inline-block;
}

.titulof {
	color: antiquewhite;
	font-family: 'letters';
	text-align: center;
}

.campos {
	color: antiquewhite;
	font-family: 'letters';
	text-align: right;
	font-size: large;
	margin: 5px;
}

.inputs {
	border-color: black;
	background-color: #1c1c1c;
	border-radius: 4px;
	width: 120px;
	font-size: medium;
	color: antiquewhite;
	font-family: 'letters';
	margin-top: 5px;
	margin-bottom: 8px;
}

.botsub {
	padding: 7px 5px;
	font-size: 15px;
	background-color: #333;
	color: antiquewhite;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-family: 'letters';
}

.botsub:hover {
	background-color: #555;
}

.conpais {
	display: inline-flex;
	flex-flow: row;
}

.mpais {
	color: #07648f;
	text-align: center;
	font-size: large;
	margin: 5px;
	font-weight: bold;
}

.botelim {
	font-size: x-small;
	font-weight: bold;
	background-color: red;
	border-radius: 100%;
	border-width: 0ch;
	height: fit-content;
	width: fit-content;
}

.errors {
	font-size: small;
	color: red;
	margin: 3px;
}
